export_presets.cfg
.mono/metadata/ide_messaging_meta.txt
.mono/metadata/scripts_metadata.debug
.mono/metadata/scripts_metadata.editor
.mono/metadata/scripts_metadata.editor_player
.mono/temp/bin/Debug/Balancer.dll
.mono/temp/bin/Debug/Balancer.pdb
.mono/temp/bin/ExportDebug/Balancer.dll
.mono/temp/bin/ExportDebug/Balancer.pdb
.mono/temp/obj/Balancer.csproj.nuget.dgspec.json
.mono/temp/obj/Balancer.csproj.nuget.g.props
.mono/temp/obj/project.assets.json
.mono/temp/obj/project.nuget.cache
.mono/temp/obj/Debug/Balancer.assets.cache
.mono/temp/obj/Debug/Balancer.csproj.AssemblyReference.cache
.mono/temp/obj/Debug/Balancer.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/Balancer.dll
.mono/temp/obj/Debug/Balancer.GeneratedMSBuildEditorConfig.editorconfig
.mono/temp/obj/Debug/Balancer.pdb
.mono/temp/obj/ExportDebug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
.mono/temp/obj/ExportDebug/Balancer.AssemblyInfo.cs
.mono/temp/obj/ExportDebug/Balancer.AssemblyInfoInputs.cache
.mono/temp/obj/ExportDebug/Balancer.assets.cache
.mono/temp/obj/ExportDebug/Balancer.csproj.AssemblyReference.cache
.mono/temp/obj/ExportDebug/Balancer.csproj.CoreCompileInputs.cache
.mono/temp/obj/ExportDebug/Balancer.csproj.FileListAbsolute.txt
.mono/temp/obj/ExportDebug/Balancer.dll
.mono/temp/obj/ExportDebug/Balancer.GeneratedMSBuildEditorConfig.editorconfig
.mono/temp/obj/ExportDebug/Balancer.pdb
.mono/metadata/ide_messaging_meta.txt
.mono/metadata/scripts_metadata.editor
.mono/metadata/scripts_metadata.editor_player
.mono/temp/bin/Debug/Balancer.dll
.mono/temp/bin/Debug/Balancer.pdb
.mono/temp/obj/Balancer.csproj.nuget.dgspec.json
.mono/temp/obj/Balancer.csproj.nuget.g.props
.mono/temp/obj/project.assets.json
.mono/temp/obj/project.nuget.cache
.mono/temp/obj/Debug/Balancer.assets.cache
.mono/temp/obj/Debug/Balancer.csproj.AssemblyReference.cache
.mono/temp/obj/Debug/Balancer.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/Balancer.dll
.mono/temp/obj/Debug/Balancer.GeneratedMSBuildEditorConfig.editorconfig
.mono/temp/obj/Debug/Balancer.pdb
